%tbody
  -data.each do |r| 
    -s = r.with_indifferent_access
    %tr
      %td=s["user"] 
      %td=s["pid"] 
      %td=s["time_alive"] 

-if server == :local && request.format == :html
  :javascript
    function updateLocalPumaData() {
      $.get("#{web_redeploy.puma_server_processes_path}");
    }
    setInterval(updateLocalPumaData, 5000);