%h3=e.to_s.titleize  
-servers.each do |server_address| 
  -m=@results[e][server_address]
  -project = WebRedeploy::System.github_project   # deevis/code-redeploy.git
  %table.table.table-striped
    %tr
      %th 
      %th #{project}
    %tr
      %td
        %strong=server_address
        -if m["last_start_statistics"].present?
          %div{style:"font-size: 0.8em;"}
            Deployed @ #{m["last_start_statistics"]["time"]}
          %div{style:"font-size:0.7em;color:darkgreen;"}
            Info generated in #{((m[:time_to_build]*100).to_i)/100.0 rescue "?"} seconds
        -if e == :local && Rails.env.production?
          -if @restart_info.present?
            .phased-restart-in-progress 
              Phased Restart In Progress
              .small=@restart_info[:time_alive]
          -else
            -command, restart_tasks = WebRedeploy::System.build_restart_command
            %small
              =command
            %div.pull-right=link_to "Bundle Install", bundle_install_pyr_core_pyr_admin_index_path, class: "btn btn-warning", "data-confirm" => "This will run a bundle install on it's own.  This is here primarily as an additional piece of tooling for troubleshooting.  The bundle install WILL ALSO BE RUN when you click Phased Restart!  Continue?", "data-method" => "get"

            %div.pull-right=link_to "Phased Restart", phased_restart_pyr_core_pyr_admin_index_path, class: "btn btn-success", "data-confirm" => "This will initiate a phased-restart of your Puma cluster.  Continue?", "data-method" => "get"
            .clearfix
            %ul
              -restart_tasks.each do |t|
                -if t == :ruby_upgrade
                  %li{style:"font-size:1.5em;font-weight:700;background-color:goldenrod;"}=t
                -else
                  %li=t
            -if e == :local
              %div{style:"margin:10px 0px"}
                Change Branch:
                -disable_option = true # Don't enable switching until current is shown (no going back, yet)
                %select#deployed_branch{name:"deployed_branch"}
                  -( (m["company_releases"] & m["pyr_releases"] || [] ) ) .each do |r|
                    -if r == m["company_branch"]
                      -disable_option = false
                      %option{value:r, selected:true }=r
                    -else
                      %option{value:r, disabled:disable_option}=r
                %button.btn.btn-xs.btn-primary Change
        -if m["server_processes"].present?
          %table.table.table-striped.table-condensed{"data-server" => e}
            %thead
              %tr
                %th User
                %th PID
                %th Time Alive
            =render "server_processes_table_body", data: m["server_processes"], server: e

      -if m.present?
        %td 
          =render "server_table_instance", project: project, m: m, e: e


